* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --Strongcyan: hsl(172, 67%, 45%);
    --Verydarkcyan: hsl(183, 100%, 15%);
    --Darkgrayishcyan: hsl(186, 14%, 43%);
    --Grayishcyan: hsl(184, 14%, 56%);
    --Lightgrayishcyan: hsl(185, 41%, 84%);
    --Verylightgrayishcyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: "Space Mono", monospace;
    background-color: var(--Lightgrayishcyan);
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    
}

label {
    color: var(--Darkgrayishcyan);
    font-weight: 700;
}

.billAmountBox, .numPeopleBox {
    background-color: var(--Verylightgrayishcyan);
    padding: 0 10px;
    
    justify-content: space-between;
    border-radius: 5px;
}

input {
    border: none;
    background-color: var(--Verylightgrayishcyan);
    
    font-family: "Space Mono", monospace;
    font-size: 24px;
    color: var(--Verydarkcyan);
    font-weight: 600;
    text-align: right;
    width: 24rem; 
}


    

header {
    /* border: solid; */
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;


}

.container {
    width: 60rem;
    background-color: var(--White);
    display: flex;
    padding: 1.8rem;
    border-radius: 18px;
    justify-content: space-evenly;
    gap: 2.5rem;
}

.left {
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: "Space Mono", monospace;
}

.bill, .selectTip, .numberPeople {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.percentages {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.percentages button {
    background-color: var(--Verydarkcyan);
    color: var(--White);
    width: 8rem;
    font-family: "Space Mono", monospace;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    border: none;
    
}

button:hover {
    background-color: var(--Strongcyan);
    color: var(--Verydarkcyan);
}

#custom {
    width: 8rem;
    text-align: center;
}

.right {
    width: 30rem;
    background-color: var(--Verydarkcyan);
    border-radius: 15px;
    color: var(--White);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 3rem;
    font-family: "Space Mono", monospace;
    font-weight: 600;
    padding-top: 3rem;

}

.tipAmount, 
.total {
    display: flex;
    justify-content: space-between;
}

#resetBtn {
    background-color: hsl(183,80%,24%);
    border: none;
    padding: 1rem;
    border-radius: 8px;
    color: hsl(184,89%,21%);
    font-weight: 700;
    font-size: large;
    margin-top: 50px;
}

.greyColor {
    color: var(--Grayishcyan);
}

.tipAmountResult, .totalResult {
    font-size: 2rem;
    color: var(--Strongcyan);
}